html
	body
		form(action="insert" method="post")
			label Enter name :
			input(type="text" name="nm")
			br
			label Enter age :
			input(type="number" name="age")
			br
			label Enter Nationality :
			input(type="text" name="nation")
			br
			input(type="submit" value="INSERT")